<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

  Vous êtes invité à vous identifier


<section>
  <ion-button size="large" color="medium" href="https://accounts.google.com/o/oauth2/v2/auth?client_id=849999998863-i4sumhq3vor99t9liepp9co02d3me191.apps.googleusercontent.com&redirect_uri=http://localhost:8100/videos&response_type=token&scope=https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"> M'identifier</ion-button>
</section>